body {
    background-color:#000;
}
/*Contenedor*/
.cuadrosDeColores {
    width: 460px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
/*Elementos cuadrados*/ 
.quadrat {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    flex: none;
    margin-bottom: 5px;
}
/*imagen-play*/
.playButton {
    margin-left: 150px;
    opacity: 70%;
}
.playButton:hover {
    cursor:pointer;
    opacity: 100%;
}
/*style-Farbe Quadrat*/
#eins, #zwei, #drei {
    background-color: #8af;
}
#eins:hover, #zwei:hover, #drei:hover{
    background-color:#00f;
}
#vier, #fuenf, #sechs, #sieben{
    background-color: #fa8;
}
#vier:hover, #fuenf:hover, #sechs:hover, #sieben:hover {
    background-color: #ff1493;
}
#acht, #neun {
    background-color: #dc143c;
}
#acht:hover, #neun:hover{
    background-color:#ff8c00;
}