header {
    position: absolute;
    z-index: 1;
}
body{
    background-image: url(./bg.png);
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-title {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div>h1 {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}
nav a {
    position: absolute;
    top: 5px;
    left: 0px;
    text-decoration: none;
    color:midnightblue;
    font-size: 25px;
}
.station {
    background-color:wheat;
    border-radius: 5px;
    letter-spacing:-2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:wheat 5px solid;
}
nav a:hover {
    color:indianred;
}
.title-station2 {
    font-size: 25px;
    margin-top: -150px;
}
.muschel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.perle  {
    position: absolute;
    top: 70px;
    left: -220px;
    background: url("./muschel.png");
    width: 70px;
    height: 65px;
}
.perle:hover {
    background-image: url(./muschel_perle.png);
    
}
.perla {
    position: absolute;
    top: -30px;
    left: -50px;
    background: url("./muschel.png");
    width: 70px;
    height: 65px;
}
.perla:hover {
    background-image: url(./muschel_perle.png);
}
.perl {
    position: absolute;
    top: 40px;
    left: 100px;
    background: url("./muschel.png");
    width: 70px;
    height: 65px;
}
.perl:hover {
    background: url(./muschel_perle.png);
}