header{
    position: absolute;
    z-index: 1;
}
body{
    background-image: url(./bg.png);
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-title {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div>h1 {
    color: white;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: -90px;
    margin-left: -230px;
}
.text {
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 70px;
    margin-left: -230px;
}
nav *a {
    position: absolute;
    top: 0px;
    left: 0px;
    color:midnightblue;
    font-size: 20px;
}
.station {
    background-color:wheat;
    border-radius: 5px;
    letter-spacing:-2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:wheat 5px solid;
    text-decoration: none;
}
nav a:hover {
    color:indianred;
}
#baum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.animation {
    margin-top: 0px;
    margin-left: 300px;
}
#gif {
    position: absolute;
    top: 180px;
    left: 300px;
}
.gif-muschel{
    position: absolute;
    top: -125px;
    left: -200px;
}
.muschel {
    position: absolute;
    top: 80px;
    left: -50px;
}
.perle {
    position: absolute;
    top: -160px ;
    left: 30px;
}