header{
    position: absolute;
    z-index: 1;
}
body{
    background-image: url(./bg.png);
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav *a {
    position: absolute;
    top: 0px;
    left: 0px;
    color:midnightblue;
    font-size: 20px;
}
.station {
    background-color:wheat;
    border-radius: 5px;
    letter-spacing:-2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:wheat 5px solid;
    text-decoration: none;
}
nav a:hover {
    color:indianred;
}
.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}